<html>
<body>
    

<div class= "h">
    <div class= "grid-item"> 
        <p><img src="{{email}}" width="23px" height="23px">   pratikshapakannavar@gmail.com<br></p><p><img src="{{phone}}" width="23px" height="23px">  +919901476480</p> 
        <h3>Technical Skills:</h3>
        <p> <b>Hardware Description Languages:</b>Verilog</p>
        <p> <b>Programming languages:</b>C, C++, Core Java, html, CSS, Java Script</p>
        <p> <b>Tools:</b>Microsoft Office (Word,  Excel, Power point)</p>
        <p> <b>Others: </b>Cadence virtuoso, Arduino, PIC controller, Raspberry PI</p>
    </div>
    
    <div class = "grid-item"> 
        
        <h1 class="box">OBJECTIVE<a routerLink="/resume" target="_blank"><img src="{{redirect}}" width="23px" height="23px"></a></h1>
        <p >An enthusiastic engineering fresher who is a self-starter and capable to use technical skills for the betterment of the organization. A master’s degree in VLSI and Embedded Systems has enhanced my skills and looking forward to work in a competitive environment that enhances overall learning.</p>
        <br>
        <h1 class="box">EDUCATION</h1>
        <h3>Master of Technology(VLSI and Embedded System), 2017-2019</h3> 
        <p >K.L.E.s M.S. Sheshgiri College of Engineering and Technology, Belgaum</p>
        <h3>B.E(Electrical and Electronics), 2011-2015</h3> 
        <p >Gogte Institute of Technology, Belgaum</p>
        <br>
        <h1 class="box">PROJECTS<a routerLink="/project" target="_blank"><img src="{{redirect}}" width="23px" height="23px"></a></h1>
        <p >Development of Super capacitor using Nano materials</p>
        <p >Implementation of PLC Communication using Wireless Connectivity.
         <p>Online tutorial website</p>
    </div> 
    
    </div>
</body>
</html>