.container-fluid{
    border: 3px solid rgb(70, 61, 61);
    padding: 10px;
    margin:10px 170px 100px 170px;
    border-radius: 7px;
}
.form-control{
margin: 10px;
}
input {
    width: 90%;height: 33px;
  }
.btn-primary{
margin-left: 400px; 
background-color:rgb(36, 36, 83);  
color: white;
font-size: 19px;
border-radius: 7px;
}
.btn-primary:hover{
    background-color:rgb(14, 14, 32);
}


