<html>
  <head>

  </head>
  <body>
    <div class="header">
      <div class="grid-item" id="align">
        <nav class="item">
          <a routerLink="/landing" routerLinkActive="active">Home </a>
          <a  routerLink="/resume" routerLinkActive="active">Resume </a>
          <a  routerLink="/project" routerLinkActive="active">Project </a>
        </nav>
      </div> 
      <div class="grid-item">
          <nav class="item_middle">
            <a  routerLink="/form" routerLinkActive="active">Form</a>
          </nav>
      </div>
      <div class="grid-item">
              <img  class="hovr"  src="{{profile_pic}}" alt="">
              <h3>Pratiksha Pakannavar</h3> 
      </div>
      
    </div>

    <div class="container-fluid">
      <div style="color: blue;">
        <h1>{{title}}</h1>
        <h3>{{description}}</h3>
      </div>
     
      <div style="width: 300px;">
        <form (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="item">Item</label>
            <input type="text" class="form-control"
              placeholder="Enter content..." id="item"
              required [(ngModel)]="itemValue" name="item">
          </div>
     
          <div class="btn-group">
            <button type="submit" class="btn btn-success">Submit</button>
          </div>
        </form>
      </div>
     
      <h2>Content from Firebase</h2>
      <div class="col-md-3">
        <pre *ngFor="let item of items | async">{{item.content}}</pre>
      </div>
     
    <!-- </div> -->
    
     
      

<div class="grid-footer">
  <p class="b">Copyright © 2020 Pratiksha_website. All Rights Reserved.</p>
<a class="b1" href="https://www.linkedin.com/in/pratiksha-pakannavar-a8a35078" target="_blank" ><img src="{{logo}}"></a>
</div>
  

<!-- </body>

</html> -->
<router-outlet></router-outlet>
