<body>
	<h3 class="box">WORK EXPERIENCE</h3>
	<h3>Internship at Schneider Electric India  (January 2016 – September 2016)</h3>
	<h3>Internship at Reinfold Physical Innovations Lab(August 2018 – November 2018)</h3>
	<ul>
		<li>PCB Designing </li>
		<li>Simulation and Hardware interfacing of various tools with PIC controller</li>
		<li>Interfacing Raspberry PI with various sensors</li>
		<li>Mini project – IoT based data logger for Solar power measurement</li>
	</ul>
	<br>
	<h3 class="box">WORKSHOPS</h3>
	<p>Attended workshop on “Raspberry-pi Programming” organized by KLE Dr. M. S. Sheshgiri College of Engineering and Technology in April,2018</p>
	<br>
	<h3 class="box">ACHIEVEMENTS</h3>
	<p>Secured 4th position for paper presentation in Avalanche, a national level event organized by Gogte Institute of Technology on the topic “Organic LED”.</p>
	<p>Was awarded as the <b>Best Student</b> in KLE college. </p>