<html>
  <head>

  </head>
  <body>
    <h1 class="box">Projects</h1><br>
    <div>
<nav>
  <a  class="child" routerLink='/project/beproject'>BEproject</a>
  <a  class="child" routerLink='/project/mtechproject'>MTechproject</a>
    
  </nav>
  <router-outlet></router-outlet>
</div>
	<div>
        
	<h3 class="box">B.E. Project</h3>

	<h5>Title: Development of Super capacitor using Nano materials.</h5>
 
                 <p><b>Description</b>: A Super-Capacitor using Zinc Oxide (ZnO) Nano Materials was developed. Five successful models were prepared and comparison of Activated Carbon dependence & ZnO Nano Material dependence experiments were conducted successfully. It was found that the Capacitance value depends on quality of material used such as activated carbon power, Electrode material & concentration of Nano Material. 
	Team Size: 4</p><br>

	<h3 class="box">M.Tech Project</h3>  

	<h5>Title: Implementation of PLC Communication using Wireless Connectivity.</h5>
 
                 <p><b>Description</b>: This project aims at developing an IoT platform which allows a central server to communicate with all the different PLC controllers via bluetooth. It  is implemented by connecting bluetooth connected arduino to PLC. The data transmitted by other bluetooth connected system will be received by the bluetooth connected to arduino and vice versa. According to code running on the arduino, the data will be sent to PLC. It is also possible to establish wireless communication between PLC and field devices by connecting field devices to the Bluetooth.
	Team Size: 1</p><br>

	<h3 class="box">Website</h3>  

    <h4>Online Tutorial <a href="http://www.edushankara.com/" target="_blank">Website</a></h4>
     
 </div>
    